<div class="container_enfermedades">
    <h2>Enfermedades</h2>
    <p>Necrobacilosis oral

Infecciones orales por Fusobacterium necrophorum se presentan como casos individuales, raras veces como problema de hato, en terneras de 2 semanas a 3 meses de edad, generalmente criadas en condiciones poco higiénicas.

Las lesiones necróticas se pueden presentar en diversas partes de la cavidad bucal (estomatitis necrótica = encías, carrillos, lengua). Puede haber compromiso laríngeo (difteria) y de lóbulos apicales pulmonares.

Los gérmenes, provenientes del medio ambiente, pueden introducirse en pequeñas lesiones en la mucosa, causadas por glumas o aristas presentes en algunos insumos, incluso pellets.

Erosiones/Ulceras del abomaso

La presentación de erosiones o úlceras en el abomaso en terneras es más común en los primeros 90 días de vida.

La presencia o no de signos clínicos dependerá del grado de compromiso de la pared del abomaso, que va desde erosiones superficiales hasta su perforación, causando peritonitis.

En la mayoría de los casos el curso es subclínico.

Las úlceras sangrantes son poco comunes en terneros. Pueden ser asintomáticas o, en casos severos, manifestarse con signos de pérdida de sangre (mucosas pálidas, taquicardia, etc)

Se puede sospechar de úlceras perforantes asociadas a la presencia tricobezoares, por el dolor que causa la palpación del abomaso. También es evidente su distensión por la presencia de gas y líquido.

No conocemos a ciencia cierta su etio-patogenia, ni en ganado adulto, ni en terneras.

Hay evidencias circunstanciales de que los siguientes factores pudiesen estar relacionados con la presencia de úlceras del abomaso en algunos casos, aunque las   evidencias no son consistentes:

1. Hiperacidez gástrica relacionada con administración de leche – pero sobre todo de

sustitutos lácteos – a intervalos de 12 horas

2. Raciones de inicio ricas en granos

3. Ingestión de forraje tosco o cama fibrosa

4. Formación de tricobezoares en el cuajo

5. Infecciones por Clostridium perfringens A o D; y quizás también por Helicobacter

pylori y otros gérmenes

6. Deficiencias de microelementos, sin precisión de cuales. Lilly y col la asoció en 1985

con deficiencia de cobre

7. Estrés en sentido lato

8. Infección con el virus de BVD – sobre todo en terneras PI

INDIGESTIONES EN TERNEROS

Los procesos que pasaremos a describir son el resultado de errores dietéticos y de manejo. La mejor manera de evitarlos es evitando dichos errores.

Tricobezoares

Algunos animales lamen intensamente su pelaje por diversas causas (vicio, deficiencias nutricionales, prurito por la acción de pulgas y otros parásitos) e ingieren abundante pelo. El pelo ingerido se organiza en bolas compactas, en el cuajo o en el rumen, formando un tricobezoar (concreciones similares, a base de fibra vegetal, recibe el nombre de fitobezoares; las concreciones mixtas, de pelos y fibra vegetal, se denominan tricofitobezoares).

Los tricobezoares pueden ser responsables de la formación de úlceras, muchas veces perforantes, en el cuajo de terneras; de meteorismo ruminal y de obstrucciones en el esófago o el intestino delgado.

Insuficiencia ruminal – Meteorismo ruminal

La insuficiencia ruminal se inicia con la inoportuna ingestión de forraje (heno, paja), sin haberse producido la adecuada formación del rumen. Se produce una acumulación de material fibroso mal digerido en el rumen, que a la larga conduce a una activida motora insuficiente del rumen y del reflejo del eructo. Las terneras presentan pobre desarrollo, heces mal digeridas, rumen distendido con meteorismo dorsal y contenido ventral firme.

El meteorismo ruminal (distensión del flanco izquierdo) puede deberse a insuficiencia ruminal, a acidosis ruminal o a la acción de gérmenes anaerobios de putrefacción que ingresan al rumen junto con alimentos sólidos, causando una fermentación anormal con atonía del rumen y meteorismo recidivante crónico.

Puede estar asociado al consumo de sustitutos lácteos de inferior calidad.

Acidosis ruminal (“Ruminal Drinkers”)

Está asociada a la ingestión de leche con balde.

La rápida ingestión exagerada de leche, o de leche diluida con agua puede causar una disfunción del surco esofágico, que no se cierra oportunamente, y permite el ingreso de la leche al rumen de vez de pasar al abomasum. Se produce una fermentación anormal del rumen, con gran producción de ácidos grasos volátiles y de ácido láctico. El ácido láctico daña las papilas ruminales y las vellosidades intestinales (con menor producción de lactasa).

Puede presentarse en terneras menores de 2 semanas de edad o mayores; hay una indigestión crónica caracteriza por distensión ventral izquierda del abdomen, pobre reflejo de succión, pobre desarrollo y la región perineal y cola ensuciadas con heces pastosas. El contenido ruminal presenta olor rancio y hay evacuación de heces pastosas o diarreicas.

Meteorismo del abomaso

Etiología desconocida. Los terneros afectados (< 2 semanas y con alimentación sólida) están apáticos, deshidratados, con temperatura subnormal; ocasionalmente diarrea.

El abomaso está distendido con líquido o con gas. El pH es alto (5 a 7) favoreciendo la fermentación bacteriana, sobre todo de coliformes y clostridios.

Indigestión láctea del abomasum (Acidosis abomasal)

Se debe a un trastorno en la digestión del caseinato de calcio, principal producto proteico de la leche, y la formación de una masa firme y gomosa no digerible que actúa como un cuerpo extraño en el abomasum. No es muy común.

Diarrea dietética

Existe algo que se llama “diarrea dietética”, aunque con frecuencia la etiología es mixta, es decir dietética complicada por la acción de gérmenes patógenos.

La verdadera diarrea dietética está asociada a la ingestión excesiva de leche o de leche aguada, que afectan la formación del cuajo y la caseína ingresa al duodeno donde no puede ser digerida y se convierte en un medio de cultivo para la fermentación bacteriana. Con los sustitutos lácteos puede ocurrir fermentación y putrefacción bacteriana.

El signo más característico es la evacuación de abundantes heces pastosas, con frecuencia fétidas.

Los terneros se ven poco afectados clínicamente. Hay mejoría retirando la leche e instituyendo electrolitos y terapia de soporte; y recurrencia apenas se vuelve a dar leche. No hay respuesta a los antibióticos.

CAUSAS MÁS COMUNES DE DIARREA EN TERNEROS

Presentación según edad

(1) Diarrea dietética                        1-4 s - Asociada al uso de sustitutos de leche

Sin deshidratación. Apet OK – Heces pastosas

(2) Diarrea indiferenciada              1-2 s - Proceso mal definido, en el que pueden

intervenir varios factores etiológicos

(3) Coli enterotoxigénica               < 5 d - Diarrea; severa deshidratación. Shock.

Control vacunando vaca seca

(4) Rotavirus                         1-10 d - Diarrea amarilla. Control vacunando vaca seca

(5) Coronavirus          7-15 d - Diarrea más severa que con rotavirus

(6) Coli de adhesión+barrido < 2 s - Mejoran retirando leche + antibióticos

(7) Coli septicémica                < 2 s - Fiebre/hipotermia. Conjuntivas inyectadas.

Diarrea. Meningitis/sinovitis o coma.

Hemocultivo + . Pronóstico reservado

(8) Cryptosporidiosis             > 1 s - Heces con sangre. Tenesmo (pujos) +/-

(9) Coli enterohemorrágica     2-8 s - Enterocolitis hemorrágica

(10) Salmonelosis                    > 2 s - Fiebre. Desprendimiento de mucosa;

heces con fibrina y sangre

(11) BVD en terneras        variable – En no PI, diarrea moderada; puede favorecer

otras infecciones (por inmunosupresión)

(12) Coccidiosis                      > 4 s - Fiebre +/- Desprendimiento de mucosa y

sangre. Tenesmo

(13) Enterotoxemias hemorrágicas por Cl. perfringens – No son frecuentes

tipos B/C > 1-2 s - Disenteria, meteorismo, cólico, bramidos, carreras,

signos neurológicos

tipo D, de 1-4 m – Cuadro neurológico agudo y muerte en 1-2 h;

o subagudo con ceguera parcial transitoria<

Petequias corazón, edema pulmonar, congestión

de mucosas abomaso/intestino

tipo A, > 1 m - Enteritis hemorrágica, en terneros y adultos

Diagnóstico: una cuenta elevada de estos gérmenes por ml de

contenido intestinal

es un buen indicio diagnóstico,

que debe ser confirmado con la identificación

de la toxina responsable (en especial toxina alfa,

presente en todos los tipos).

Profilaxis: Vacunación de la vaca seca.

Manejo dietético y uso de electrolitos en casos de diarrea

No hay consenso sobre el mejor método para manejar y tratar las diarreas. La siguiente es una pauta muy común:

Reducir a la mitad la dosis de leche hasta que se controle.
Administrar a la ternera 1 a 2 L de suero casero, nunca junto con la leche sino 3 horas después; repetir el suero 2 veces más cada 3 horas; 4 horas después otra vez leche.
Nunca usar leche diluida con agua.
Seguir este régimen por 1-2 días más, si sigue la diarrea.

Si la diarrea es muy intensa el suero debe administrarse por vía EV.
Se cuestiona la adición de algún quimioterápico al suero.
Si hay riesgo de infección sistémica, se debe administrar    quimioterápicos por

vía inyectable.

Podría ser conveniente el uso de prebióticos a base de Lactobacillus spp y Streptococcus faecium, sobre todo en casos de diarrea prolongada.
No hay inconveniente en usar subnitrato de bismuto y caolin/pectina, sobre todo para la adsorción de toxinas.
Evaluación de la deshidratación

Según pérdida de peso corporal:

Leve 5.0-6.9% =  buen estado general; piel elástica y tibia
Moderada 7.0-8.9%  = regular estado general; exsicosis,     hipotermia, ternera todavía de pié
Grave ≥9.0%  = mal estado general; exsicosis, hipotermia, ojos hundidos, cornea seca; ternera  postrada
Reposición de líquido mediante soluciones electrolíticas

Deshidratación leve:           50 ml/kg:  2.5 L para ternera de 50 kg

Deshidratación moderada: 80 ml/kg;  4.0 L para ternera de 50 kg

Deshidratación grave: 100-120 ml/kg; 5.0-6.0 L para ternera de 50 kg

Estas cantidades deben repetirse varias veces en 24 horas

Suero casero

Para uso oral. En caso necesario también por vía EV

Agua de mesa, embotellada                1 litro

Cloruro de sodio                                              5 gramos

Bicarbonato de sodio                                     10 gramos

Dextrosa pura (no sacarosa)               25 gramos

Para cubrir necesidades energéticas por vía oral, una ternera necesita 2 litros de suero, 2 a 4 veces al día.

Cuando se usa por vía oral, conviene agregar GLICINA 5 g/L al suero.

La asociación de agua+sal+dextrosa+glicina, promueve la absorción intestinal de sodio y agua en terneros con diarrea.

Coccidiasis y Coccidiosis

La infección subclínica con especies del género Eimeria se denomina coccidiasis; y si el cuadro es clínico se llama coccidiosis.

La coccidiasis es responsable de deficiente conversión alimenticia y pobre ganancia de peso, así como de cierta depresión del sistema inmune.

El desarrollo de la coccidiasis depende de la crianza de las terneras en piso de tierra –  sobre todo es presencia de humedad, del hacinamiento y mala rotación de cunas, así como también de inadecuada higiene de cunas, comederos, bebederos e implementos y de la contaminación fecal de los alimentos.

Las infecciones concurrentes de coccidias con otros agentes microbianos entéricos afectan más severamente a las terneras.

La infección debe ser controlada con medidas de saneamiento ambiental, de mejora en los niveles nutricionales y con tratamientos específicos (amprolio o sulfaquinoxalina durante 5 días.

El saneamiento ambiental consiste en corregir primero las deficiencias arriba señaladas, luego en aplicar escrupulosa limpieza en ambientes y equipos de crianza, y por último el uso de secantes (cal) en el piso y desinfectantes efectivos.

La nutrición interviene mejorando la respuesta inmune a través del calostro y ofreciendo una buena ración de inicio.

Se recomienda la adición, en la ración de inicio, de alguna droga inhibitoria de las coccidias, como lasalocid o monensina.

Criptosporidiosis

Resumen de las características de la infección

Edad de presentación: después de los 7 días

Signos: deshidratación, depresión, heces líquidas (puede haber presencia de sangre); puede haber tenesmo.

NO cursa con fiebre; NO responde al tratamiento con antibióticos. No se afecta el apetito. Mejoran (pero no sanan) si se retira la leche de la alimentación.

Control

1-      Limpieza y desinfección escrupulosa de las cunas y utensilios con glutaraldehido.

2 – Cambiar de sitio las cunas para terneras de recién nacidas a 15 días.

3 – Uso exclusivo de utensilios para las terneras de 0 a 15 días.

4 – Evitar la contaminación del nuevo ambiente.

El personal debe atender primero a las terneras de 0 a 15 días, y después a los demás (usando otros utensilios).

5 – Uso de agua potable de garantía para consumo de las terneras y para la limpieza de los utensilios.

Taxonomía del phylum Apicomplexa

En sentido estricto, cuando hablamos de “coccidiosis”, nos referimos a Isospora y Eimeria. En estos casos la sulfaquinoxalina si es efectiva.

En sentido amplio podemos apreciar que, tanto las “coccidias” como los criptosporidia, pertenecen al suborden Eimeriorina, pero al mismo tiempo presentan distancias filogenéticas y biológicas importantes entre si.

La última taxonomía aprobada por la Sociedad Mundial de Protozoólogos (2001), es la siguiente:

Phylum   Apicomplexa Levine, 1970

Class Conoidasida Levine, 1988

Subclass   Coccidiasina Leuckart, 1879

Order   Eucoccidiorida Leger and Duboscq, 1910

Suborder Eucoccidea

Hemogregarina sp.

Suborder Eimeriorina Leger, 1911

Family Eimeriina

Eimeria spp. (coccidiosis)

Isospora spp. (coccidiosis)

Family Sarcocystidae Poche, 1913

Sarcocystis spp.

Toxoplasma gondii (toxoplasmosis)

Besnoitia spp

Hommondia spp

Family Cryptosporidiidae

Cryptosporidium parvum 

Pneumocystis carinii

Suborder Haemosporoina

Plasmodium spp. (malaria)

Salmonelosis

Si bien es cierto que la salmonelosis suele cursar con cuadros de enteritis en terneros, no es menos cierto que también juega un rol más complejo dentro de la crianza, causando procesos septicémicos importante y comprometiendo, además, la salud de todo el hato.</p>
</div>
