<style>
    .logotematica{
    width: 250px;
    height:250px;
    background-size: contain;
    display:block;
    position: relative;
    top: -50px;
    margin-bottom: 0;
    background-image: url(../images/logo.png);
}
.contenido{
    background-color: #EDF3F3;
}
@font-face {
    font-family: "FuturaBT-Bold";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/ufonts.com_futurabt-bold-opentype.otf);
    
}

.sub_tematica{
    font-family: "FuturaBT-Bold";
    color: black;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: -0.07em;
    text-align: center;
    margin-top: 0;
}
.nav_tematica{
    list-style: none;
}
.item{
    text-align: center;
    display: block;
}
.item a{
    color: black;
    width: 100%;
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
}
.item a:hover{
    background-color: #EDF3F3;
    text-decoration: none;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="#/" class="logotematica"></a>
            <div class="apartado_tematica">
                <h2 class="sub_tematica">sidibov</h2>
                <ul class="nav_tematica" ng-repeat="val in content">
                     <li class="item"><a href="{{val.link}}">{{val.titulo}}</a></li>
                </ul>
            </div>
        </div>
        
        <div class="col-md-9 contenido">
             <h2>Estomago</h2>
    <p>El tracto digestivo especializado de animales rumiantes asemeja a la de los animales monogástricos, con la excepción del estómago característica. El estómago de los rumiantes tiene cuatro compartimentos: el rumen, retículo, omaso y abomaso, como se muestra en el siguiente diagrama.
Colectivamente, estos órganos ocupan casi 3 / 4ths de la cavidad abdominal, llenando casi todo el lado izquierdo y que se extiende de manera significativa en la derecha. El retículo se encuentra contra el diafragma y se une al rumen por un pliegue de tejido.
</p>
    <img src="../images/estomago.jpg">
<!--
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O1U36AopiRk" frameborder="0" allowfullscreen></iframe>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/nbDK_Kl3DRg" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zLLMbyRONFQ" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AmI0RdIO1_o" frameborder="0" allowfullscreen></iframe>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/y7yHPqKWP2A" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nDAhjuuVby0" frameborder="0" allowfullscreen></iframe>
-->
</div
