<style>
    @font-face {
    font-family: "FuturaBT-Bold";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/ufonts.com_futurabt-bold-opentype.otf);
    
    }
    .aside-left-foro h2{
        font-family: "FuturaBT-Bold";
        color: black;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: -0.07em;
        text-align: center;
        margin-top: 0;
    }
    .aside-left-foro h4{
        font-family: "FuturaBT-Bold";
        color: black;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: -0.07em;
        text-align: center;
        margin-top: 0;
    }
    .input_grande{
        margin: 20px 0px;
    }
    .aside-left-foro{
        margin: 20px 0px;
    }
    .ask{
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0px;
        color: black;
    }
    .perfil{
        width: 40px;
        height: 40px;
        border: 1px solid white;
        background-image: url(../images/perfil.jpg);
        background-size: contain;
    }
    .ask a{
        color: black;
        text-decoration: none;
        margin-right: 10px;
    }
    .nombre{
        font-size: 16px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4 aside-left-foro">
            <h2>Comunidad de Sidibov</h2>
            <h4>Participe en el foro de la comunidad y entre todos creceremos</h4>
        </div>
        <div class="col-md-8">
            <div class="input_grande">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary">¡Participar!</button>
                </form>
                <div class="bg-primary ask"><div class="perfil"></div><div class="nombre"><a href="#"><strong>Fulano de tal</strong></a></div><strong>¿Que enfermedades atacan a la faringe?</strong>
                <div><a href="void:javascript(0)">Responder </a><a href="void:javascript(0)"><span class="glyphicon glyphicon-thumbs-up like">1</span></a><a href="void:javascript(0)"><span class="glyphicon glyphicon-thumbs-down dislike">0</span></a><span>hace 1 hora</span></div>
                </div>
                <div class="bg-primary ask"><div class="perfil"></div><div class="nombre"><a href="#"><strong>Sultano de tal</strong></a></div><strong>¿Cuantas funciones cumple la faringe?</strong>
                <div><a href="void:javascript(0)">Responder </a><a href="void:javascript(0)"><span class="glyphicon glyphicon-thumbs-up like">1</span></a><a href="void:javascript(0)"><span class="glyphicon glyphicon-thumbs-down dislike">0</span></a><span>hace 1 hora</span></div>
                </div>
                <div class="bg-primary ask"><div class="perfil"></div><div class="nombre"><a href="#"><strong>Manguano de tal</strong></a></div><strong>¿Que es el omaso?</strong>
                <div><a href="void:javascript(0)">Responder </a><a href="void:javascript(0)"><span class="glyphicon glyphicon-thumbs-up like">1</span></a><a href="void:javascript(0)"><span class="glyphicon glyphicon-thumbs-down dislike">7</span></a><span>hace 4 horas</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
