<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4" >
                <a href="#/" id="logo"></a>
            </div>
            <div class="col-md-8">
                <h1>sidibov</h1>
                <h2 class="sub"><u>Si</u>mulador <u>di</u>gital del <u>si</u>stema <u>di</u>gestivo de los <u>bov</u>inos.</h2>
            </div>
        </div>
    </div>
</div>

<div class="porque">
    <div class="container">
        <div class="row">
            <div class="col-md-4 articles_porque"><h3>¿Que es <strong>SIDIBOV</strong>?</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, corrupti, iste. Hic magnam dignissimos totam consequatur officia? Culpa nulla eaque, voluptatibus, enim similique, tempora officiis nihil veniam minima vel natus.</div>
            <div class="col-md-4 articles_porque"><h3>¿Por qué implementar <strong>SIDIBOV</strong>?</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, dolor molestias soluta? Porro eveniet quo, molestiae perferendis ex mollitia in, accusamus corporis unde necessitatibus a odit voluptas quibusdam expedita nemo.</div>
            <div class="col-md-4 articles_porque"><h3>¿A quien está dirigido <strong>SIDIBOV</strong>?</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quas provident officia dignissimos atque voluptate nemo rem facere esse dolore fuga nihil officiis architecto praesentium quod temporibus quaerat, hic ea.</div>
        </div>
    </div>
</div>
<div id="items">
    <div class="container">
        <div class="row">
            <div class="col-md-4 item"><h3>Estudia</h3>
            <div class="img teoria"></div>
                <p>Ne aute singulis deserunt ea aut veniam a esse, senserit tamen vidisse ita minim 
                    cernantur ad ullamco. Lorem eiusmod in adipisicing quo ea quem quis duis 
                    vidisse. </p>
            </div>
        <div class="col-md-4 item"><h3>Evaluate</h3>
            <div class="img evaluacion"></div>
            <p>Singulis est excepteur, consequat exquisitaque do litteris ab in id efflorescere 
                non dolore ullamco et multos esse, et officia iis cernantur et in ad magna velit 
                sint.</p>
            </div>
        <div class="col-md-4 item"><h3>Discute</h3>
                <div class="img foro"></div>
            <p>Discute, ayuda y aumenta tus conocimientos en los foros de discusión</p>
            </div>
        </div>
    </div>
</div>

        

